
<div ng-controller="chCredController" style="font-size: 120%; text-align: center;">
	<a ui-sref="login" class="login-text">Login</a>
	<div>
		Enter new user name:<br>
		<input ng-model="newUsername" type="text" name="username" placeholder="User Name"><br><br>
	</div>
	<div>
		Enter old password<br>
		<input ng-model="oldPassword" type="text" name="username" placeholder="Old Password"><br><br>
	</div>
	<div>
		Enter new password<br>
		<input ng-model="newPassword" type="text" name="username" placeholder="New Password"><br><br>
	</div>
	<div>
		Repeat new password<br>
		<input ng-model="repeatedNewPassword" type="text" name="username" placeholder="Repeat New Password">
	</div><br>
	<button ng-click="submit()">Submit</button>
</div>