
<div style="text-align: center;">
	<h1 >SWITCHES</h1>
	<div ng-controller="homeController">

		<div id="button1" style="display:inline-block;">
			<p id="button1ParChange" ng-click="addInput('button1')">Change</p>
			<button ng-click="onOf('button1')" class="homeSwitchButton">{{buttName.button1}}</button>
			<img class="homeButtonImage" src="{{imageSrc.button1}}" alt="Lamp" >
		</div>

		<div id="button2" style="display:inline-block;">
			<p id="button2ParChange" ng-click="addInput('button2')">Change</p>
			<button ng-click="onOf('button2')" class="homeSwitchButton">{{buttName.button2}}</button>
			<img class="homeButtonImage" src="{{imageSrc.button2}}" alt="Lamp" >
		</div>

		<div id="button3" style="display:inline-block;">
			<p id="button3ParChange" ng-click="addInput('button3')">Change</p>
			<button ng-click="onOf('button3')" class="homeSwitchButton">{{buttName.button3}}</button>
			<img class="homeButtonImage" src="{{imageSrc.button3}}" alt="Lamp" >
		</div>

		<div id="button4" style="display:inline-block;">
			<p id="button4ParChange" ng-click="addInput('button4')">Change</p>
			<button ng-click="onOf('button4')" class="homeSwitchButton">{{buttName.button4}}</button>
			<img class="homeButtonImage" src="{{imageSrc.button4}}" alt="Lamp" >
		</div>

	</div>
</div>